In [1]:
import pandas as pd

In [2]:
aisles = pd.read_csv("C:/Users/yangyq/Google Drive/Grad school project/ucberkeley_mids/academics/W207_ML/finalprojdata/aisles.csv")
departments = pd.read_csv("C:/Users/yangyq/Google Drive/Grad school project/ucberkeley_mids/academics/W207_ML/finalprojdata/departments.csv")
order_products_prior = pd.read_csv("C:/Users/yangyq/Google Drive/Grad school project/ucberkeley_mids/academics/W207_ML/finalprojdata/order_products__prior.csv")
order_products_train = pd.read_csv("C:/Users/yangyq/Google Drive/Grad school project/ucberkeley_mids/academics/W207_ML/finalprojdata/order_products__train.csv")
orders = pd.read_csv("C:/Users/yangyq/Google Drive/Grad school project/ucberkeley_mids/academics/W207_ML/finalprojdata/orders.csv")
products = pd.read_csv("C:/Users/yangyq/Google Drive/Grad school project/ucberkeley_mids/academics/W207_ML/finalprojdata/products.csv")
sample_submission = pd.read_csv("C:/Users/yangyq/Google Drive/Grad school project/ucberkeley_mids/academics/W207_ML/finalprojdata/sample_submission.csv")

datasets = dict()
datasets['aisles'] = aisles
datasets['departments'] = departments
datasets['order_products_prior'] = order_products_prior
datasets['order_products_train'] = order_products_train
datasets['orders'] = orders
datasets['products'] = products
datasets['sample_submission'] = sample_submission

In [9]:
for key, df in datasets.items():
    print(key)
    print(df.head(5))
    print("----------------")

aisles
   aisle_id                       aisle
0         1       prepared soups salads
1         2           specialty cheeses
2         3         energy granola bars
3         4               instant foods
4         5  marinades meat preparation
----------------
departments
   department_id department
0              1     frozen
1              2      other
2              3     bakery
3              4    produce
4              5    alcohol
----------------
order_products_prior
   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0
----------------
order_products_train
   order_id  product_id  add_to_cart_order  reordered
0         1       49302                  1          1
1         1       11109                  2          1
2         1       10246                  3          0
3         1       49683                  4          0
4         1       43633                  5          1
----------------
orders
   order_id  user_id eval_set  order_number  order_dow  order_hour_of_day  \
0   2539329        1    prior             1          2                  8
1   2398795        1    prior             2          3                  7
2    473747        1    prior             3          3                 12
3   2254736        1    prior             4          4                  7
4    431534        1    prior             5          4                 15

   days_since_prior_order
0                     NaN
1                    15.0
2                    21.0
3                    29.0
4                    28.0
----------------
products
   product_id                                       product_name  aisle_id  \
0           1                         Chocolate Sandwich Cookies        61
1           2                                   All-Seasons Salt       104
2           3               Robust Golden Unsweetened Oolong Tea        94
3           4  Smart Ones Classic Favorites Mini Rigatoni Wit...        38
4           5                          Green Chile Anytime Sauce         5

   department_id
0             19
1             13
2              7
3              1
4             13
----------------
sample_submission
   order_id     products
0        17  39276 29259
1        34  39276 29259
2       137  39276 29259
3       182  39276 29259
4       257  39276 29259
----------------

In [12]:
print(sorted(orders.order_id.unique())[:100])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [10]:
print(order_products_prior.order_id.unique()[:100])

[  2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  18  19  20
  21  22  23  24  25  26  27  28  29  30  31  32  33  35  37  39  40  41
  42  43  44  45  46  47  48  49  50  51  52  53  54  55  56  57  58  59
  60  61  62  63  64  65  66  67  68  69  70  71  72  73  74  75  76  77
  78  79  80  81  82  83  84  85  86  87  88  89  90  91  92  93  94  95
  97  99 100 101 102 103 104 105 106 107]

In [13]:
print(order_products_train.order_id.unique()[:100])

[   1   36   38   96   98  112  170  218  226  349  393  456  473  631  719
  762  774  844  878  904  915  988 1001 1032 1042 1077 1086 1119 1120 1139
 1143 1145 1275 1280 1318 1325 1335 1342 1350 1468 1571 1572 1579 1591 1597
 1620 1674 1682 1703 1721 1764 1851 1865 1890 1955 1983 1994 2011 2021 2029
 2068 2087 2115 2191 2216 2318 2389 2415 2442 2445 2468 2530 2603 2711 2737
 2820 2822 2853 2869 2888 2889 2936 2937 2948 2985 3010 3037 3056 3068 3091
 3103 3142 3160 3176 3179 3200 3209 3212 3227 3243]

In [20]:
orders_and_priors = pd.merge(orders, order_products_prior, on='order_id')
print(orders_and_priors.head())

   order_id  user_id eval_set  order_number  order_dow  order_hour_of_day  \
0   2539329        1    prior             1          2                  8
1   2539329        1    prior             1          2                  8
2   2539329        1    prior             1          2                  8
3   2539329        1    prior             1          2                  8
4   2539329        1    prior             1          2                  8

   days_since_prior_order  product_id  add_to_cart_order  reordered
0                     NaN         196                  1          0
1                     NaN       14084                  2          0
2                     NaN       12427                  3          0
3                     NaN       26088                  4          0
4                     NaN       26405                  5          0

In [24]:
print(orders_and_priors.eval_set.unique())
print(orders_and_priors.count())

['prior']
order_id                  32434489
user_id                   32434489
eval_set                  32434489
order_number              32434489
order_dow                 32434489
order_hour_of_day         32434489
days_since_prior_order    30356421
product_id                32434489
add_to_cart_order         32434489
reordered                 32434489
dtype: int64

In [18]:
orders_and_train = pd.merge(orders, order_products_train, on='order_id')
print(orders_and_train.head())

   order_id  user_id eval_set  order_number  order_dow  order_hour_of_day  \
0   1187899        1    train            11          4                  8
1   1187899        1    train            11          4                  8
2   1187899        1    train            11          4                  8
3   1187899        1    train            11          4                  8
4   1187899        1    train            11          4                  8

   days_since_prior_order  product_id  add_to_cart_order  reordered
0                    14.0         196                  1          1
1                    14.0       25133                  2          1
2                    14.0       38928                  3          1
3                    14.0       26405                  4          1
4                    14.0       39657                  5          1

In [25]:
print(orders_and_train.eval_set.unique())
print(orders_and_train.count())

['train']
order_id                  1384617
user_id                   1384617
eval_set                  1384617
order_number              1384617
order_dow                 1384617
order_hour_of_day         1384617
days_since_prior_order    1384617
product_id                1384617
add_to_cart_order         1384617
reordered                 1384617
dtype: int64

In [26]:
df1 = orders_and_train.head(100)

    order_id  user_id eval_set  order_number  order_dow  order_hour_of_day  \
0    1187899        1    train            11          4                  8
1    1187899        1    train            11          4                  8
2    1187899        1    train            11          4                  8
3    1187899        1    train            11          4                  8
4    1187899        1    train            11          4                  8
5    1187899        1    train            11          4                  8
6    1187899        1    train            11          4                  8
7    1187899        1    train            11          4                  8
8    1187899        1    train            11          4                  8
9    1187899        1    train            11          4                  8
10   1187899        1    train            11          4                  8
11   1492625        2    train            15          1                 11
12   1492625        2    train            15          1                 11
13   1492625        2    train            15          1                 11
14   1492625        2    train            15          1                 11
15   1492625        2    train            15          1                 11
16   1492625        2    train            15          1                 11
17   1492625        2    train            15          1                 11
18   1492625        2    train            15          1                 11
19   1492625        2    train            15          1                 11
20   1492625        2    train            15          1                 11
21   1492625        2    train            15          1                 11
22   1492625        2    train            15          1                 11
23   1492625        2    train            15          1                 11
24   1492625        2    train            15          1                 11
25   1492625        2    train            15          1                 11
26   1492625        2    train            15          1                 11
27   1492625        2    train            15          1                 11
28   1492625        2    train            15          1                 11
29   1492625        2    train            15          1                 11
..       ...      ...      ...           ...        ...                ...
70    880375        8    train             4          1                 14
71    880375        8    train             4          1                 14
72    880375        8    train             4          1                 14
73    880375        8    train             4          1                 14
74    880375        8    train             4          1                 14
75    880375        8    train             4          1                 14
76    880375        8    train             4          1                 14
77    880375        8    train             4          1                 14
78   1094988        9    train             4          6                 10
79   1094988        9    train             4          6                 10
80   1094988        9    train             4          6                 10
81   1094988        9    train             4          6                 10
82   1094988        9    train             4          6                 10
83   1094988        9    train             4          6                 10
84   1094988        9    train             4          6                 10
85   1094988        9    train             4          6                 10
86   1094988        9    train             4          6                 10
87   1094988        9    train             4          6                 10
88   1094988        9    train             4          6                 10
89   1094988        9    train             4          6                 10
90   1094988        9    train             4          6                 10
91   1094988        9    train             4          6                 10
92   1094988        9    train             4          6                 10
93   1094988        9    train             4          6                 10
94   1094988        9    train             4          6                 10
95   1094988        9    train             4          6                 10
96   1094988        9    train             4          6                 10
97   1094988        9    train             4          6                 10
98   1094988        9    train             4          6                 10
99   1094988        9    train             4          6                 10

    days_since_prior_order  product_id  add_to_cart_order  reordered
0                     14.0         196                  1          1
1                     14.0       25133                  2          1
2                     14.0       38928                  3          1
3                     14.0       26405                  4          1
4                     14.0       39657                  5          1
5                     14.0       10258                  6          1
6                     14.0       13032                  7          1
7                     14.0       26088                  8          1
8                     14.0       27845                  9          0
9                     14.0       49235                 10          1
10                    14.0       46149                 11          1
11                    30.0       22963                  1          1
12                    30.0        7963                  2          1
13                    30.0       16589                  3          1
14                    30.0       32792                  4          1
15                    30.0       41787                  5          1
16                    30.0       22825                  6          1
17                    30.0       13640                  7          0
18                    30.0       24852                  8          1
19                    30.0       45066                  9          1
20                    30.0        9387                 10          0
21                    30.0        5450                 11          1
22                    30.0       24838                 12          0
23                    30.0       38547                 13          0
24                    30.0       19019                 14          0
25                    30.0       12007                 15          0
26                    30.0       26352                 16          0
27                    30.0       22559                 17          1
28                    30.0       45613                 18          1
29                    30.0       31883                 19          0
..                     ...         ...                ...        ...
70                    10.0       48230                 11          0
71                    10.0       47766                 12          0
72                    10.0       31717                 13          0
73                    10.0       21903                 14          1
74                    10.0       25659                 15          0
75                    10.0       41540                 16          1
76                    10.0       48121                 17          0
77                    10.0        2846                 18          0
78                    30.0       27555                  1          1
79                    30.0       42347                  2          1
80                    30.0       27596                  3          1
81                    30.0        8834                  4          1
82                    30.0       26604                  5          1
83                    30.0       12075                  6          1
84                    30.0        8467                  7          1
85                    30.0       38988                  8          1
86                    30.0       30252                  9          1
87                    30.0       18926                 10          1
88                    30.0       24954                 11          1
89                    30.0       40571                 12          1
90                    30.0        1559                 13          1
91                    30.0       33754                 14          1
92                    30.0       29594                 15          1
93                    30.0       17600                 16          1
94                    30.0       42828                 17          1
95                    30.0       10132                 18          1
96                    30.0       20899                 19          1
97                    30.0       27973                 20          1
98                    30.0       41844                 21          1
99                    30.0       30967                 22          1

[100 rows x 10 columns]